@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}



:root {

    /*!  base colours */
    --blue-900: #13183f;
    --blue-600: #666ca3;
    --pink-600: #f74780;
    --pink-300: #ffa7c3;
    --grey: #83869a;
    --white: #ffffff;

    /*! gradients  */
    --gradient-pink: linear-gradient(
        to top,
        #f02aa6,
        #ff6f48
    );
    --gradient-purple: linear-gradient(
        to bottom,
        #4851ff,
        #f02aa6
    );

    /* ! fonts */
    --text-1: bolder 5.6rem "Plus Jakarta Sans";
    --text-2: normal bolder "Plus Jakarta Sans" 4rem, 120%;
    --text-3: bold 3.2rem "Plus Jakarta Sans";
    --text-4: bold 2.4rem "Plus Jakarta Sans";
    --text-5: 400 1.8rem "Plus Jakarta Sans";
    --text-6: normal bold "Plus Jakarta Sans" 1.6rem, 150%;
    --text-7: bold 1.8rem "Plus Jakarta Sans";
}

/* ! common classes */
/* ! layout */

.flex-r-container {
    display: flex;
}

.flex-c-container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
}

.align-center {
    align-items: center;
}

.jusitfy-center {
    justify-content: center;
}

.full-center {
    align-items: center;
    justify-content: center;
}

main {
    background: linear-gradient(
        to bottom,
        white,
        rgba(102, 108, 163, 0.15)
    );
}

/* ! common classes */
/* ! elements */

.btn {
    padding: 16px 32px;
    border-radius: 28px;
    border: none;
    color: white;
    font: var(--text-7);
    line-height: 150%;
    width: 170px;
    height: 60px;
    cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: var(--blue-600);
}


/* ! hero section */

.navbar {
    padding: 16px 20px;
    justify-content: space-between;
    width: 100%;
}

.nav-btn {
    background-color: var(--blue-900);
}



.hero-container {
    height: 120vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 48px;
    position: relative;
}

.text-section {
    gap: 24px;
    padding: 56px 20px;
}

.text-section h1 {
    font: var(--text-1);
    font-size: 4rem;
    line-height: 150%;
    font-weight: 700;
    color: var(--blue-900);
}

.text-section p {
    color: var(--grey);
    font: var(--text-5);
    line-height: 150%;
}

.hero-container .btn {
    background: var(--gradient-pink);
    margin-top: 16px;
}

.hero-container .btn:hover,
.hero-container .btn:focus,
.hero-container .btn:active {
    background-color: var(--blue-600);
}

.hero-container .img-section {
    background: url("assets/image-hero-mobile.png") center no-repeat;
    background-size: cover;
}

.tablet-desktop-img {
    display: none;
}

/*! Courses section */

.courses {
    padding: 64px 20px;
}

.card-container {
    gap:55px;
}

.card-head {
    padding: 32px;
    background: var(--gradient-pink);
    color: white;
    font: var(--text-3);
    font-size: 1.6rem !important;
    line-height: 175%;
    font-weight: 300;
    border-radius: 15px;
}

.card {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 40px;
    position: relative;
    box-shadow: .1rem .1rem 10rem rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 12px;
}

.card-icon {
    position: absolute;
    top: -32px;
    left: 16px;

}

.card-content {
    gap: 24px;
    justify-content: space-between;
}

.card h3 {
    font: var(--text-4);
    color: var(--blue-900);
}

.card p {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 150%;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
}

.card .get-started {
    color: var(--pink-600);
    font: var(--text-7);
}

/*! Footer  */

footer {
    background-color: var(--blue-900);
    padding: 24px 20px;
    justify-content: space-between;
}

footer img {
    width: 80px;
    height: 20px;
}

footer button {
    height: 150px;
    width: 48px;
    background: var(--gradient-purple);
}

footer button:hover,
footer button:active,
footer button:focus {
    background-color: var(--pink-300);
}

/* ! Responsiveness */

@media (min-width: 493px) {
    .text-section h1 {
        font-size: 4.8rem;
    }

    .text-section p {
        font-size: 2rem;
    }

    .hero-container .img-section {
        background: url("assets/image-hero-mobile@2x.png") center no-repeat;
        background-size: contain;
    }

    .card-content {
        gap: 30px;
    }

    .card h3 {
        font-size: 2.8rem;
    }

    .card p {
        font-size: 2rem;
    }
}

@media (min-width: 583px) {
    .navbar {
        padding: 24px 32px;
    }

    .hero-container .text-section {
        padding-left: 32px;
        padding-right: 32px;
    }

    .text-section h1 {
        font-size: 5.2rem;
    }

    .text-section p {
        font-size: 2.4rem;
    }

    footer {
        padding: 24px 32px;
    }


}

@media (min-width: 832px) {

    .navbar {
        padding: 24px 44px;
    }

    .navbar button {
        z-index: 100;
        box-shadow: 1rem 1rem 10rem rgba(255,255,255,0.7);
    }

    .hero-container {
        grid-template-columns:500px 1fr;
        grid-template-rows: 1fr;
        height: 550px;
    }

    .hero-container .text-section {
        padding: 64px 44px;
    }

    .hero-container .img-section {
        background: none;
        position: relative;
    }

    .hero-container .tablet-desktop-img {
        display: block;
        position: absolute;
        top: -140px;
        right: -260px;
        height: auto;
        object-fit: contain;
        max-width: 650px;
    }

    .courses {
        padding: 64px 44px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 350px);
        column-gap: 24px;
        row-gap: 64px;
    }

    .card-head {
        padding: 48px;
    }

    footer {
        padding: 24px 44px;
    }
}

@media (min-width: 1080px) {

    section {
        max-width: min(100vw, 1440px);
        margin-inline: auto;
        position: relative;
        overflow: hidden;
    }

    .hero-container {
        grid-template-columns:650px 1fr;
    }

  
    .text-section h1 {
        font-size: 5.6rem;
    }

    .navbar {
        max-width: 1440px;
        margin-inline: auto;
    }

    .hero-container {
        height: 800px;
        z-index: 10;
    }

    .hero-container .tablet-desktop-img {
        display: block;
        position: absolute;
        top: -300px;
        right: -500px;
        object-fit: contain;
        max-width: 1100px;
    }

    .courses {
        margin-inline: auto;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    footer {
        padding-left: 44px;
        padding-right: 44px;
    }
}